* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
  /* never be bigger than your parent - stop the dreaded horizontal scroll bar*/
  border: 1px solid grey;
}
body {
  font-family: 'Baloo Chettan 2', cursive;
  color: #5691a7;
  background-color: #fdf9f1;
  border: 20px solid #ff5757;
  display: flex;
}
body hr {
  border: 3px solid #ff5757;
  width: 100%;
}
body header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body header div {
  color: #58ccb9;
  font-family: 'Baloo Chettan 2', cursive;
}
body header div h1,
body header div h2,
body header div h3,
body header div h4,
body header div h5,
body header div h6 {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  color: #5691a7;
}
body header nav {
  display: flex;
  justify-content: space-evenly;
}
body section .intro {
  padding: 4%;
}
body section div {
  font-family: 'Baloo Chettan 2', cursive;
  color: #58ccb9;
}
body section div h1,
body section div h2,
body section div h3,
body section div h4,
body section div h5,
body section div h6 {
  color: #5691a7;
  font-family: 'Ubuntu', sans-serif;
}
body section .skills-experience {
  padding: 4%;
  display: flex;
  justify-content: space-around;
}
body section .skills-experience div {
  width: 45%;
  text-align: center;
}
body section .skills-experience div .skills-list {
  justify-content: center;
}
body section .skills-experience div .skills-list ul li {
  text-align: center;
  width: 50%;
}
body footer {
  padding: 4%;
  display: flex;
  justify-content: space-around;
}
body footer div {
  color: #58ccb9;
}
body footer div .contact-section {
  flex-direction: row;
}
body footer div .contact-section .email-phone {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media (max-width: 500px) {
  body footer div .contact-section {
    flex-direction: column;
    align-items: space-evenly;
  }
  body footer div .contact-section div {
    width: 100%;
  }
}
body footer div h1,
body footer div h2,
body footer div h3,
body footer div h4,
body footer div h5,
body footer div h6 {
  color: #5691a7;
}
body footer nav {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.name-title {
  display: flex;
  flex-direction: column;
}
